html {
  box-sizing: border-box;

  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
}

body {
  min-width: $width-desktop;
  margin: 0;

  word-wrap: break-word;
}

p {
  font: normal 400 14px/1.5em $font-text;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
